<div id="home" data-role="page">
  <div data-role="header" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a href="/inicio"><img src="/imagenes/home.png"/></a>
        </li>
        <li>
          <a href="/productos"><img src="/imagenes/catalogo.png"/></a>
        </li>
        <li>
          <a href="/compras"><img src="/imagenes/compras.png"/></a>
        </li>
        <li>
          <a href="/historial"><img src="/imagenes/historial.png"/></a>
        </li>
        <li>
          <a href="/"><img src="/imagenes/salir.png"/></a>
        </li>
      </ul>
    </div>
  </div>
  <div role="main" class="ui-content">
     <p>Aqui ira lo que se comprara</p>
  </div>
  <div data-position="fixed" data-role="footer">
    <p class="letras">
      hecho por: Grupo SW 2015 2 Periodo
    </p>
  </div>
</div>
