<div class="head">
  <nav>
    <ol>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Compras</a></li>
      <li><a href="#">Historial</a></li>
    </ol>
  </nav>
</div>
<div class="body">
<p>
  hola body
</p>
</div>
<div class="footer">

</div>
