<form class="" action="login" method="post">
      <fieldset class="login">
        <legend>LOGIN</legend>
        <ol>
          <li>
            <label>Usuario: </label>
            <input type="text" name="txtUsu" id="txtUsu">
          </li>
          <li>
            <label>Contraseña: </label>
            <input type="text" name="txtCont" id="txtCont">
          </li>
          <input type="submit" value="Ingresar"
          id="btnIngresar" name="btnIngresar" />
        </ol>
      </fieldset>
    </form>
